# Aqui é a assinatura do tokenn JWT
JWT_SECRET=sua-chave-secreta

# As configs do Mongo
MONGO_ROOT_USER=usuario
MONGO_ROOT_PASSWORD=senha
MONGO_DB=dailystudy
MONGO_USER=usuario
MONGO_PASSWORD=senha

# As configs do Postgre
PG_DB=dailystudy
PG_URL=jdbc:piririnpororon//postgre:5543
PG_USERNAME=usuario
PG_PASSWORD=senha